.weather-app-vanilla {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

body {
  font-family: "Roboto Mono", monospace;
  margin-bottom: 20px;
  color: red;
}

h1 {
  text-align: center;
}

li {
  text-align: center;
}

.overview {
  margin-bottom: 20px;
}
