body {
  font-family: Arial, sans-serif;

  animation: 10000ms ease-in-out infinite color-change;
}

@keyframes color-change {
  0% {
    background-color: rgb(126, 226, 226);
  }
  20% {
    background-color: rgb(228, 209, 101);
  }
  40% {
    background-color: rgb(216, 152, 152);
  }
  60% {
    background-color: rgb(224, 161, 224);
  }
  80% {
    background-color: rgb(124, 139, 124);
  }
  100% {
    background-color: rgb(90, 206, 206);
  }
}

.weather-app-vanilla {
  max-width: 1000px;
  margin: 30px auto;
  padding: 60px 60px 80px 60px;
  border: 2px solid #615f69;
  border-radius: 10px;
}

button#current-button {
  border-radius: 2px;
  width: 250px;
  border: solid;
  outline: none;
  max-width: 100px;
  margin: 10px;
  padding: 10px;
  background: #7c7c7c2b;
  color: rgb(247, 113, 113);
  display: center;
}

button#current-button:hover {
  background-color: #949b95;
  color: white;
}

.overview {
  margin-bottom: 30px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.github-link {
  text-align: center;
  margin: auto;
  color: rgb(199, 71, 92);
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
